# Railway Public API Configuration
# Get your token from Railway settings > Account > API tokens
RAILWAY_TOKEN="your_railway_api_token_here"

# Get project and service IDs from URL or API or dashboard
RAILWAY_TOKEN=2334b2ed-dafd-4948-8553-bdb4268a16e0
RAILWAY_PROJECT_ID=8ac4fe1f-9cff-4ef4-8ac4-eb012fcf5162
GLYPHS_BOT_GAME_SERVICE_ID=438ddb9b-259f-4025-866b-135a3cff2cdc
GLYPHS_BOT_1_SERVICE_ID=9443e088-3e3d-49b6-8a8f-88b657310e51

# These variables are required for the Restartor to trigger redeployments via the Railway Public API.
# No need for CLI install or login. See README for where to find these values.
